body {
    font-family: 'Open Sans', sans-serif;
    /*background-color: #7afaff;/**/
    width: 100%; /*横*/
    margin: 0 auto;
    /*border: 4px solid black;*/
    height: 100%; /*縦*/
    /*display: flex;*/ /**/
    flex: 1; /*flex-grow/flex-shrink/flex-basis※flex省略型*/
}
oll {
    background-color: white; /**/
    width: 100%; /*横*/
    height: 80%; /*縦*/
}

header /*ヘッダー*/ {
    border: none;/**/
    font-size: 22.5px;/*リンク*/
    padding: 0px;/**/
    background-color: #2096f3;/*可視化*/
    /*border: 2px solid black; /*囲む*/
}
.flex /*画像とテキスト*/ {
    display: flex; /*横並び*/
    align-items: center; /*上下真ん中*/
}

h1 {
    /*background-color: red; /*色*/
    /*float: left; /*左寄せ*/
    text-align: center;
    display: flex;
    justify-content: flex-start; /*デフォルト(寄せ)*/
}
h2 {
    border-bottom: dashed; /*下線*/
    /*background-color: red; /*色*/
    /*float: left; /*左寄せ*/
    text-align: center; /**/
    display: flex;
    /*justify-content: flex-start; /*デフォルト(寄せ)*/
    /*justify-content: flex-end; /*末端に寄せる*/
    justify-content: center; /*中央に寄せる*/
}

.box {
    background-color: #9ecbf6; /*色#9ecbf6*/
    /*padding: 5px 1em 0 1em;*/
    margin: 10% 10% 10% 10%; /*空白*/
}

main {
    display: flex; /*横並びにする*/
    /*background-color: #b6ff00; /*可視化*/
    justify-content: center; /*中央に寄せる*/
}
main .sidebar {
    max-width: 25%; /*上限*/
    border: 2px solid black; /*囲む*/
    display: flex; /*コンテナ内に収まる用に配置*/
    background-color: #ffffff; /*色*/
    flex: 1; /*flex-grow/flex-shrink/flex-basis※flex省略型*/
    /*border: 2px solid black;/**/
    justify-content: center; /*中央に寄せる*/
    align-items: center; /*上下真ん中*/
}
main .maincontent {
    max-width: 55%; /*上限*/
    border: 2px solid black; /*囲む*/
    display: flex; /*コンテナ内に収まる用に配置*/
    justify-content: center; /*中央に寄せる*/
    background-color: #a57dea; /*色*/
    flex: 2;
    justify-content: center; /*中央に寄せる*/
    align-items: center; /*上下真ん中*/
}

work {
    margin-top: 25px; /*作品との間*/
    display: flex; /*横並びにする*/
    /*background-color: #b6ff00; /*可視化*/
    justify-content: center; /*中央に寄せる*/
}
work .sidebar {
    max-width: 25%; /*上限*/
    border: 2px solid black; /*囲む*/
    display: flex; /*コンテナ内に収まる用に配置*/
    background-color: #ffffff; /*色*/
    flex: 1; /*flex-grow/flex-shrink/flex-basis※flex省略型*/
    /*border: 2px solid black;/**/
    justify-content: center; /*中央に寄せる*/
    align-items: center; /*上下真ん中*/
}
work .maincontent /*作品名*/ {
    max-width: 55%; /*上限*/
    border: 2px solid black; /*囲む*/
    display: flex; /*コンテナ内に収まる用に配置*/
    justify-content: center; /*中央に寄せる*/
    background-color: #e7e595; /*色*/
    flex: 2;
    justify-content: center; /*中央に寄せる*/
    align-items: center; /*上下真ん中*/
}
work .comment {
    max-width: 400px; /*上限*/
    border: 2px solid black;
    display: flex; /*コンテナ内に収まる用に配置*/
    background-color: #b4e291;
    flex: 1;
    justify-content: center; /*中央に寄せる*/
    align-items: center; /*上下真ん中*/
}

sub {
    display: flex; /*横並びにする*/
    /*background-color: #b6ff00; /*可視化*/
    justify-content: center; /*中央に寄せる*/
}
sub .list {
    border: 2px solid black;
    display: flex; /*コンテナ内に収まる用に配置*/
    /*background-color: yellow;/*色*/
    flex: 1; /*flex-grow/flex-shrink/flex-basis※flex省略型*/
    /*border: 2px solid black;/**/
    justify-content: center; /*中央に寄せる*/
    align-items: center; /*上下真ん中*/
}
sub .comment {
    /*margin: 10px; /*間*/
    padding: 2px; /*空間*/
    max-width: 80%; /*上限*/
    border: 2px solid black;
    display: flex; /*コンテナ内に収まる用に配置*/
    background-color: #b4e291;
    flex: 1;
    justify-content: center; /*中央に寄せる*/
    align-items: center; /*上下真ん中*/
}

video {
    width: 100%;
    height: auto;
    display: block;
}
img /*160/90*/ {
    border: outset;
    background-color: #000;
    width: 90px;
    height: 55px;
    margin: 5px 5px 5px 5px;
}
img.type1 /*写真のサイズを個別に変えられる*/ {
    width: 90px;
    height: 90px;
}
img.type2 /*写真のサイズを個別に変えられる*/ {
    width: 45px;
    height: 90px;
}

/**/

h3
{
    font-size: 24px;
    margin: 0;
}
h4
{
    font-size: 18px;
    margin: 0;
}
h5 {
    font-size: 21px;
    margin: 10px;/**/
}
label {
    display: block;
    margin-bottom: .5em;
}
.content {
    background-color: #fff;
    width: 450px;/*600*/
    margin: 10px auto;
    border: 1px solid #d1d1d1;
    padding: 30px;
}
input[type="text"] {
    border: none;
    border-bottom: 1px solid #d1d1d1;
    font-size: 16px;
    padding: 8px;
    width: 100%
}
textarea[type="text"] {
    height: 3em;
    border: none;
    border-bottom: 1px solid #d1d1d1;
    font-size: 16px;
    padding: 8px;
    width: 100%
}
button {
    width: 100%;
    background-color: #2096f3;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0,0,0,.4)
}
.required {
    background-color: #fee;
    color: #f33;
    padding: 3px;
    font-size: .9em;
    font-weight: bold;
    margin-left: .3em;
}
/**/

/*メディアクエリ*/

@media(orientation:landscape) /*横向きの時*/ {
    body {
        /*background-color: magenta;/*色*/
    }
    img /*写真を小さく*/ {
        width: 160px;
        height: 90px;
    }
}

@media(max-width:800px) /*widthが〜800の時*/ /*min以上/max以下*/ {
    h1 {
        /*color: yellowgreen;/**/
        font-size: 1.5em; /*フォントサイズ*/
        justify-content: flex-start; /*デフォルト(寄せ)*/
    }
    img /*写真を小さく*/ {
        width: 80px;
        height: 45px;
    }
    header {
        font-size: 11.5px;
    }
    .content {
        width: 450px;/*600*/
    }
}

@media(max-width:500px) /*widthが〜500の時*/ /*min以上/max以下*/ {
    h1 {
        font-size: 1em; /*フォントサイズ*/
    }
    img /*写真を小さく*/{
        width: 80px;
        height: 45px; 
    }
    header {
    font-size: 10px;
    }
    .content {

    width: 450px;
    }
}

